body{
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	color:black;
}
div#pageWrapper{
	width:800px;
	margin:0 auto;
}
h2{
	font-size:18px;
	padding-right:10px;
	text-align:center;
}
table#weatherTable tr td, 
table#weatherTable tr th{
	border:1px solid #333;
	font-size:10px;
	border-radius:.3em;
	padding:5px 10px;
}
table#weatherTable tr th{
	font-weight:800;
	text-align:center;
	height:26px;
	background-color:#64caea;
}
table#weatherTable{
	width:800px;
	text-align:center;
}
table#weatherTable tr:nth-child(2){
	background-color:#1eb3bd;
	color:white;
}
th.id{
	width:30px;
}
th.tsRow{
	width:200px;
}
th.tempRow{
	width:115px;
}
th.feelRow{
	width:90px;
}
th.weatherRow{
	width:60px;
}
th.precipRow{
	width:100px;
}
th.humidityRow{
        width:60px;
}

}
th.windRow{
	width:260px;
}
